p {
    font-size:17px;
}

.status_border {
    border-left: 4px solid #35cb35;
    border-radius: 5px;
}

.logo-img{
    width: 200px;
    height: 200px;
    box-shadow: 8px 8px 15px rgb(0 0 0 / 15%);
}

input[type=text], input[type=date] , input[type=number] {
    border: 2px solid #ccc;
}

input[type=text] {
    width: 350px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    background-color: #3498db;
    border-radius: 50%;
    animation: pulse 2s infinite;
}